<!-- header with MY PLAYLIST and LOGOUT button, used for artist page -->
<nav>
  <div class="nav-wrapper purple accent-4">
    <img class="responsive-img brand-logo" src="images/mania.png" alt="Logo" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div class="nav-font-size">
        <!-- {{! update links }} -->
        <li><a href="/playlist" class="white-text">my playlist</a></li>
        <li><a href="/login" class="white-text logout">logout</a></li>
      </div>
    </ul>
  </div>
</nav>