<nav>
  <div class="nav-wrapper purple accent-4">
    <img class="responsive-img brand-logo" src="images/mania.png" alt="Logo" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div class="nav-font-size">
        <li><a href="/" class="white-text">home</a></li>
      </div>
    </ul>
  </div>
</nav>