<!-- header with SEARCH and LOGOUT buttons, used for playlist page -->
<nav>
  <div class="nav-wrapper purple accent-4">
    <img class="responsive-img brand-logo" src="images/mania.png" alt="Logo" />
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <div class="nav-font-size">
        <li><a href="/artist" class="white-text">search</a></li>
        <li><a href="/" class="white-text logout">logout</a></li>
      </div>
    </ul>
  </div>
</nav>