<!-- header -->
<nav>
  <div class="nav-wrapper purple accent-4">
    <img
      class="responsive-img brand-logo"
      src="images/mania.png"
      alt="Logo"
    />

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <!-- can't figure out the damn font size -->
      <div class="nav-font-size">

        <li><a href="/" class="white-text">logout</a></li>
      </div>
    </ul>
  </div>
</nav>