 {{!-- {{#if loggedIn}} --}}
 {{> full-header}}
    <!-- pick your genre page -->
   <div class="center-align">
  <div class="col s12 white-text genres">
    <h1> let's get started </h1>
    <h2>what kind of music are you in the mood for today?</h2>
  </div>
</div>

   	 <!-- genre buttons -->
      <div class="container">

        <div class = "grid genre-buttons">
         <!-- <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action"> country </button> -->
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="country">Country</button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="rock">rock</button>
       
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="alternative">alternative</button>
        
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="Hip-Hop/Rap">Hip-Hop/Rap</button>
       
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="latin">latin</button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="metal">metal</button>
         
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="j-pop">j-pop</button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="pop">pop </button>
         
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="electronic"> electronic </button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="dance">dance </button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="lo-fi">lo-fi </button>
     
         <button class="white-text purple accent-4 waves-effect btn-large genre-button" data-genre="classical">classical </button>
       </div> 
    
       <div id="results"></div>
       <!-- update path -->
       <script src="../public/js/index.js"></script> 

 <!-- playlist image -->
  <div class="playlist-img">
    <img src="images/playlist.png" alt="playlist graphic">
  </div>

</div> 

