 {{!-- {{#if loggedIn}} --}}
 {{> full-header}}
    <!-- pick your genre page -->
<div class="center-align">
  <div class="col s12 white-text genres">
    <h1> let's get started </h1>
    <h2>what kind of music are you in the mood for today?</h2>
  </div>
</div>

    <!-- genre buttons -->
  <div class="container">

   <div class = "grid">
    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action"> country </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">rock </button>
 
    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">alternative rock </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">rap </button>
 
    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">hip hop </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">metal </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">j-pop </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">pop </button>
 
    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">electro house </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">edm </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">lo-fi </button>

    <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">classical </button>
  </div> 

 <!-- playlist image -->
  <div class="playlist-img">
    <img src="images/playlist.png" alt="playlist graphic">
  </div>

</div> 
{{!-- {{else}}

    <a href="/login">You must login to start jammin! </a>

{{/if}} --}}
