<!-- home page -->
<div class="center-align">
  <img
    class="responsive-img mania-home"
    src="../../assets/homepage.png"
    alt="playlist mania landing page"
  />
</div>

<div class="center-align">
  <button
    class="white-text purple accent-4 waves-effect btn-large"
    type="submit"
    name="action"
  >log in </button>

  <button
    class="white-text purple accent-4 waves-effect btn-large"
    type="submit"
    name="action"
  >sign up </button>
</div>