

 {{> home-header}}
 <!-- login page -->
<div class="center-align">
  <h1 class="login-page-header white-text"> welcome back </h1>

 <div class="login-form">
  <div class="row">
    <div class="input-field col s4 offset-s4 email">
      <input id="email" type="email" class="validate white-text" placeholder ="email">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4 password">
      <input id="password" type="password" class="validate white-text" placeholder = "password">
      <!-- <label for="password">password</label> -->
    </div>
  </div>
</div>
<button class="white-text purple accent-4 waves-effect btn-large submit" type ="submit" name="action"> login </button>
</div>


<script src="js/login.js"></script>
