    <!-- header -->
  <nav>
    <div class="nav-wrapper purple accent-4">
      <img class ="responsive-img brand-logo" src="../assets/maniaLogo.png" alt="Logo">

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- {{!-- update routes --}} -->
        <!-- cant figure out the damn font size -->
<div class="nav-font-size">
      
         <li><a class="white-text">my playlists</a></li>
          <li><a class="white-text">logout</a></li>
        </div>
      </ul>
    </div>
  </nav>