{{#if logged_in}}
{{> logout-header}}

<div class="container valign-wrapper">

    <!-- playlist page -->
    <div class="col s12 white-text artist center-align">
      <h1> these are a few of my favorite things </h1>
      </div>
 


{{!-- playlist image --}}
        <div class="col s12 l3 dj-img responsive-img">
          <img src="images/playlist.png" alt="dj graphic" />
        </div>
      </div>
   
    
    <div id="favorites" class="row"></div>
<!-- search results template literal -->


{{!-- linked scripts --}}
<script src="js/index.js"></script>
<script src="js/logout.js"></script>
<script src="js/playlist.js"></script> 

{{/if}}

    
