<!DOCTYPE html>
<html lang="en">
<head>
    <title>track search</title>
</head>
<body>
    <h1> search tracks</h1>
    <form action="/search" method="get">
        <input type="text" id="artist" name="artist" placeholder="search">
        <button type="submit">search</button>
</body>
</html>