<!-- pick your genre page -->
<div class="center-align">
<div class="row">
  
  <div class="col s12 white-text genres">
    <h1> let's get started </h1>
    <h2>what kind of music are you in the mood for today?</h2>
  </div>
</div>

<div class="row genre-contents">
  <div class="col l5 s12 offset-l1 offset-s1 ">
<!-- buttons -->
<div class="row">
  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action"> rock </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">country </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">electronic </button></div>
</div>

<div class="row">
  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">funk </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">hip hop </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">latin </button></div>
</div>

<div class="row">
  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">pop </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">soundtrack </button></div>

  <div class="col l4">
  <button class="white-text purple accent-4 waves-effect btn-large" type ="submit" name="action">r&b </button></div>
</div>
</div>

<!-- image -->
<div class="col s12 l4 offset-l1 playlist-img">
  <img src="../assets/playlist.png" alt="playlist graphic">
</div>
</div>
</div>